{% extends 'base.html' %}
{% load static %}

{% block title %}

{% endblock %}
{% block extra_style %}
<link rel="stylesheet" href="{% static 'landing/assets/css/landing.css' %}" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,400;1,900&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}

<div class="why-us-head">
    <h5>Our Story    </h5>
    <h1>Creating an Impact for Good.</h1>
    <p>We want to help you launch a movement to help others by giving you the tools you need 
        so your fundraising can take flight for a good cause. Whether peer-to-peer fundraising or 
        crowdfunding, we want to help you make the biggest impact for good. The Giving Pilot 
        exists to help you take your fundraising to new horizons.</p>
</div>
<div class="detmin-imag text-center">
    <img src="..\static\landing\assets\img\ourstory.png">
</div>

<div class="button-cutom text-center">
    <a href="{% url 'sign_up' %}" class="cutom">Get started</a>
</div>

{% endblock %}
{% block extra_script %}
<script src="{% static 'landing/assets/js/index.js' %}"></script>
{% endblock %}