{% load utils %}
{% load static %}
{% load url_thumbnail %}
{% load humanize %}
{% block extra_style %}
<script src="{% static 'accounts/assets/js/vendor/Chart.bundle.min.js' %}"></script>
{% endblock %}
<div id="cf-public" class="crowdfunding-page center-page">
  <section class="preview-slider">
    <div class="container">
      <header class="preview-slider__header">
        <h2 class="preview-slider__title">{{ campaign.title }}</h2>
      </header>

      <nav class="preview-nav">
        <h3 class="preview-nav__title">Share</h3>

        <ul class="preview-nav__list">
          <li class="preview-nav__item">
            <a href="https://web.whatsapp.com/send?text={% abs_url 'dashboard:cf_manager' campaign.id %}" data-action="share/whatsapp/share" class="preview-nav__link">
                <img src="{% static 'dashboard/assets/img/icon-share-1.svg' %}" alt=""></a>
          </li>
          <li class="preview-nav__item">
            <a href="https://www.facebook.com/sharer/sharer.php?u={% abs_url 'dashboard:cf_manager' campaign.id %}" target="_blank"
               class="preview-nav__link"><img src="{% static 'dashboard/assets/img/icon-share-2.svg' %}" alt=""></a>
          </li>
          <li class="preview-nav__item">
            <a href = "https://telegram.me/share/url?url={% abs_url 'dashboard:cf_manager' campaign.id %}&text=Join%20My%20Campaign" class="preview-nav__link">
                <img src="{% static 'dashboard/assets/img/icon-share-3.svg' %}" alt=""></a>
          </li>
          <li class="preview-nav__item">
            <a href="mailto: insertemailhere@xyz.com?subject=Crowdfunding Email {% abs_url 'dashboard:cf_manager' campaign.id %}" class="preview-nav__link"><img src="{% static 'dashboard/assets/img/icon-share-4.svg' %}"
                alt=""></a>
          </li>
          <li class="preview-nav__item">
            <a href="#" class="preview-nav__link"><img src="{% static 'dashboard/assets/img/icon-share-5.svg' %}"
                alt=""></a>
          </li>
        </ul>
      </nav>

      <div class="preview-slider__primary">
        <div id="sliderPreviewPrimary" class="splide">
          <div class="splide__track">
            <ul class="splide__list">
              {% if campaign.large_media %}
              <li class="splide__slide" data-splide-html-video="{{ campaign.large_media.url }}">
                {% elif campaign.large_image %}
              <li class="splide__slide">
                {% else %}
              <li class="splide__slide" data-splide-{{ campaign.large_media_url|check_url}}="{{ campaign.large_media_url }}">
                {% endif %}
                <img src="{{ campaign.large_image|add_host }}" data-splide-lazy="{{ campaign.large_media_thumbnail }}"
                  alt="Sample Image 00">
              </li>

              {% for small_media in small_medias %}
              {% if small_media.file %}
              <li class="splide__slide" data-splide-html-video="{{ small_media.file.url }}">
                <img src="https://picsum.photos/id/10/1024/768" data-splide-lazy="https://picsum.photos/id/10/260/275"
                  alt="Sample Image 00">
              </li>
              {% elif small_media.image %}
              <li class="splide__slide">
                <img src="{{ small_media.image|add_host }}" data-splide-lazy="https://picsum.photos/id/10/260/275"
                  alt="Sample Image 04">
              </li>
              {% else %}
              <li class="splide__slide" data-splide-{{ small_media.media_url|check_url }}="{{ small_media.media_url }}">
                <img src="https://picsum.photos/id/10/1024/768" data-splide-lazy="https://picsum.photos/id/10/260/275"
                  alt="Sample Image 01">
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <div class="preview-slider__secondary">
        <div id="sliderPreviewSecondary" class="splide">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide">
                <div
                  class="preview-slider__card {% if campaign.large_is_video %}preview-slider__card--video{% endif %}">
                  <img class=".preview-slider__thumb" src="{{ campaign.large_media_thumbnail }}" alt="">
                </div>
              </li>
              {% for small_media in small_medias %}
              <li class="splide__slide">
                <div class="preview-slider__card {% if small_media.is_video %}preview-slider__card--video{% endif %}">
                  <img class=".preview-slider__thumb" src="{{ small_media.thumbnail }}" alt="">
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="pb-5 border-bottom mt-5 p-10">

    <div class="text-cus-secondary text-uppercase small"
      style="width: 650px; margin: auto; letter-spacing: 1.5px; font-size: 16px; font-weight: 700; color: #8A94A6 !important;">
      <b>Fund use</b>
      {% if not is_public %}
      <span class="edit-item ml-2 text-cus-primary" data-nav-link="?tab=tab-about-campaign&tag=nc-camp-cause"><i
          class="fas fa-pen"></i></span>
      {% endif %}
    </div>

    <div class="content-title public-content-title">
      {{ campaign.title }}
    </div>
  </div>
  <div class="mt-5 pb-5 border-bottom about-content">
    <div class="text-cus-secondary text-uppercase mt-5 ls-2"
      style="font-size: 16px; font-weight: 700; color: #8A94A6 !important;">
      <b>About the campaign</b>
      {% if not is_public %}
      <span class="edit-item ml-2 text-cus-primary" data-nav-link="?tab=tab-about-campaign&tag=nc-camp-description">
        <i class="fas fa-pen"></i>
      </span>
      {% endif %}
    </div>
    <p>{{ campaign.description|safe }}</p>
  </div>

  {% include 'dashboard/crowdfunding/public/_right_bar_on_mobile.html' %}

  <div class="manage-info mt-5" style="width: 650px; margin: auto;">
    <div class="members-and-contributors pb-md-5 row" style="width: 650px; margin: auto;">
      <div class="contributors row-item">
        <div class="text-uppercase text-cus-secondary ls-2" style="font-weight: 700;"><b>Contributors</b></div>
        <div class="search-bar-group mt-2" style="width: 650px; height: 55px">
          <input type="text" id="search-contributor" class="search-bar" placeholder="Search Contributors"
            onkeyup="onSearchContributors()" style="font-size: 18px; padding-bottom: 4px;">
          <div class="search-icon" style="top: 11px; left: 17px;"><i class="fas fa-search"></i></div>
        </div>
        <div class="table-wrapper">
          <table id="contributor-group" class="contributor-group mt-3">
              {% for contr in contributors %}
                <tr>
                  <td class="contributor w-100">
                    <div class="photo" style="min-width: 45px; width: 45px; height: 45px;">
                      <img src="{{ contr.user.profile.profile_pic|get_image_url }}" class="photo-img" alt="photo"
                        style="width: 45px">
                    </div>
                    <div class="info" style="margin-left: 12px;">
                      <div class="name" style="line-height: 22px;">{{ contr.user.profile.full_name }}</div>
                      <div class="amount">${{ contr.amount }}</div>
                    </div>
                  </td>
                </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="updates mt-5" style="background-color: #f2f3f5;">
    <div class="text-uppercase ls-2  text-center text-md-left post-update-content">
      <b>Updates from campaign organizer</b>
    </div>
    <div class="updates-content mt-4 post-commit">
        {% for comment in comments %}
            <div class="update mt-3">
        <div class="photo" style="min-width: 40px; width: 40px;">
          <img src="{{ comment.user.profile.profile_pic|get_image_url }}" class="photo-img" alt="photo"
            style="width: 40px">
        </div>
        <div class="info-group">
          <div class="info-and-detail">
            <div class="info">
              <div class="name">{{ comment.user.profile.full_name }}</div>
              <div class="date">{{ comment.created_at }}</div>
            </div>
            <div class="detail">
{#                <img src="{% static 'dashboard/assets/img/detail.png' %}">#}
            </div>
          </div>
          <div class="update-text">
            {{ comment.message }}
          </div>
        </div>
      </div>
        {% endfor %}
    </div>
    <!-- <div class="btn-cus btn-cus-secondary post-btn"
      style="color: #00aeef; background: #ffffff; border-width: 1px; border: 1px solid #00aeef !important; width: 307.73px; margin: auto;">
      Load more posts..</div> -->
  </div>

  <div class="hidden-field">
    <input type="text" class="go-to-update-campaign-url" value="{% url 'dashboard:new_campaign' campaign.id 'update' %}"
      hidden>
    <input type="text" class="go-to-publish-url" value="{% url 'dashboard:publish_new_campaign' campaign.id %}" hidden>
    <input type="text" class="large-media-src"
      value="{% if campaign.large_media %}{{ campaign.large_media.url }}{% endif %}" hidden>
    <input type="text" class="large-media-url" value="{{ campaign.large_media_url }}" hidden>
    <input type="text" class="large-image-src" value="{{ campaign.large_image }}" hidden>
    <input type="text" class="large-media-type" value="" hidden>
    <input type="text" class="small-medias-number" value="{{ small_medias|length }}" hidden>
    {% for small_media in small_medias %}
    <input type="text" class="small-media-src" value="{% if small_media.file %}{{ small_media.file.url }}{% endif %}"
      hidden>
    <input type="text" class="small-image-src" value="{% if small_media.image %}{{ small_media.image }}{% endif %}"
      hidden>
    <input type="text" class="small-media-url" value="{{ small_media.media_url }}" hidden>
    {% endfor %}
  </div>
</div>

{% block extra_script %}
<script>
  let options = {
    type: 'line',
    data: {
      labels: ["12 Jun", "13 Jun", "14 Jun", "15 Jun", "16 Jun", "17 Jun", "18 Jun"],
      datasets: [
        {
          label: '# of Votes',
          backgroundColor: '#8cdaf8',
          borderColor: 'none',
          data: [2000, 3000, 2200, 3500, 1500, 1200, 2200],
          borderWidth: 1
        }
      ]
    },
    options: {
      legend: {
        display: false
      },
      scales: {
        yAxes: [{
          ticks: {
            reverse: false,
            callback: function (value, index, values) {
              return value
            }
          },
          position: 'right',
          gridLines: {
            color: '#e5f6fd',
          },
          layout: {
            padding: {
              right: 50
            }
          }
        }],
        xAxes: [{
          ticks: {
            reverse: true,
            beginAtZero: true,
          },
          gridLines: {
            color: '#e5f6fd',
          }
        }]
      },
      elements: {
        line: {
          tension: 0.0001
        }
      }
    }
  }
  let ctx = document.getElementById('myChart').getContext('2d');
  new Chart(ctx, options);
</script>
{% endblock %}